<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <!-- an ISessionFactory instance -->
    <session-factory>
      <!-- properties -->
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">max pool size=512; Server=192.168.1.104\SQL2005;initial catalog=SpaceBuilder;User Id=sa;Password=sa;Connect Timeout=600;</property>
      <property name="show_sql">false</property>
      <property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
      <property name="use_outer_join">true</property>
      <property name="generate_statistics">true</property>
      <!-- mapping files -->
      <mapping assembly="XD.NoSql"/>
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="IDataService" value="XD.Tools.DBUtility.MsSqlService"/>
    <add key="ConnectionString" value="max pool size=512; Server=192.168.1.104\SQL2005;initial catalog=SpaceBuilder;User Id=sa;Password=sa;Connect Timeout=600;"/>
  </appSettings>
	<system.web>
		<pages validateRequest="false"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" batch="false">
			<assemblies>
				<add assembly="MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<!--为当前应用程序配置会话状态设置。-->
		<sessionState mode="StateServer" timeout="36000">
		</sessionState>
		<httpRuntime maxRequestLength="1024000" executionTimeout="60000"></httpRuntime>
		<customErrors mode="Off"></customErrors>
		<!--定义配置设置以支持用于配置、存储和呈现站点导航的导航基础结构。-->
		<!--ASP.NET 代码跟踪服务以控制如何收集、存储和显示跟踪结果。-->
		<trace enabled="false" localOnly="true" pageOutput="false"/>
	</system.web>
</configuration>
