<?xml version="1.0" encoding="utf-8" ?>
<!--
.针对每个线程中可以设置一个统一的时间间隔来执行其中的Task，可以用分钟、秒两种单位来进行设置，例如<Thread minutes="5">或者<Thread seconds="5">；
2.针对每个Task可以设置enabled（是否启用该Task）、enableShutDown（如果执行时出现错误是否允许关闭该Task）两个属性，这两个属性都是bool类型所以可以用“true”或“false”进行配置；
3.针对每个Task除了enabled、enableShutDown两个属性外还可以配置任何其他的属性，但是除这两个属性以外的属性只能在自己的Task中进行解析及使用，例如EmailTask：
-->
<tasks>
  <Modules>
    <add name="DefaultExceptionTaskModule" type="XD.Tools.Tasks.DefaultExceptionTaskModule, XD.Tools" />
  </Modules>
  <threads>
    <thread minutes="2">
      <task name="ImportTask" type="XD.QQ.ImportTask, XD.NoSql" enabled="true"
				enableShutDown="false" failureInterval="5" numberOfTries="10"  path="D:\nodejs\data"/>
    </thread>
  </threads>
</tasks>
