<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="CassandraSharp" type="CassandraSharp.SectionHandler, cassandra-sharp" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <CassandraSharp>
    <Cluster name="Test Cluster">
      <Behavior maxRetries="3" defaultKeyspace="UserSpace" defaultWriteConsistencyLevel="ONE"/>
      <Transport type="Framed" port="9160" poolSize="100" timeout="30000"/>
      <Endpoints>
        <Server>192.168.1.104</Server>
      </Endpoints>
    </Cluster>
  </CassandraSharp>
  <appSettings>
    <add  key="ConnectionString" value="max pool size=512; Server=192.168.1.104\SQL2005;initial catalog=SpaceBuilder;User Id=sa;Password=sa;Connect Timeout=600;"/>
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <!-- an ISessionFactory instance -->
    <session-factory>
      <!-- properties -->
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">max pool size=512; Server=192.168.1.104\SQL2005;initial catalog=SpaceBuilder;User Id=sa;Password=sa;Connect Timeout=600;</property>
      <property name="show_sql">false</property>
      <property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
      <property name="use_outer_join">true</property>
      <property name="generate_statistics">true</property>
      <!-- mapping files -->
      <mapping assembly="XD.NoSql"/>
    </session-factory>
  </hibernate-configuration>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <target value="Console.Out" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>
    <appender  name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" type=""  value="All.log" />
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="500KB"/>
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="Console" />
    </root>
  </log4net>
</configuration>